<div class="row">
  <div class="large-4 columns"></div><h1>Sign up!</h1></div>
  <div class="large-8 columns"></div>



<div class="row">
  <div class="large-4 columns">



<%= render :partial=>"form", :locals =>{:x=>@action} %>

</div>

  <div class="large-8 columns">

  </div>
</div>